@font-face {
    font-family: "Raleway";
    src:    url("../fonts/Raleway-Regular.ttf") format("truetype"),
            url("../fonts/Raleway-Bold.ttf") format("truetype"),
            url("../fonts/Raleway-Italic.ttf") format("truetype"),
            url("../fonts/Raleway-Black.ttf") format("truetype"),
            url("../fonts/Raleway-BlackItalic.ttf") format("truetype"),
            url("../fonts/Raleway-BoldItalic.ttf") format("truetype"),
            url("../fonts/Raleway-ExtraBold.ttf") format("truetype"),
            url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype"),
            url("../fonts/Raleway-ExtraLight.ttf") format("truetype"),
            url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype"),
            url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype"),
            url("../fonts/Raleway-Light.ttf") format("truetype"),
            url("../fonts/Raleway-LightItalic.ttf") format("truetype"),
            url("../fonts/Raleway-Medium.ttf") format("truetype"),
            url("../fonts/Raleway-MediumItalic.ttf") format("truetype"),
            url("../fonts/Raleway-SemiBold.ttf") format("truetype"),
            url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype"),
            url("../fonts/Raleway-Thin.ttf") format("truetype"),
            url("../fonts/Raleway-ThinItalic.ttf") format("truetype"),
            url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    color: #000;
}

h1 {
    font-size: 22px;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    outline: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    align-items: center;
}

header div {
    flex: auto;
}

.link_logo {
    order: 1;
    margin-left: 20px;
}

.link_logo a img {
    box-sizing: border-box;
}

nav {
    order: 3;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: auto;
    padding: 30px 20px 15px 20px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
}

nav ul li a {
    color: #000;
}

nav ul li:hover {
    border-bottom: 3px solid #0065fc;
}

nav ul li:hover a {
    color: #0065FC;
    text-decoration: none;
}

.subscribe {
    order: 2;
    text-align: right;
    margin-right: 20px;
}

.subscribe a {
    color: #0065FC;
    font-weight: bold;
    font-size: 17px;
}

.subscribe a:hover {
    text-decoration: underline;
}

/* TITRE_SEARCH */
.cnt_search_engine {
    padding: 0 20px;
    margin-bottom: 40px;
}

.cnt_search_engine p {
    font-size: 16px;
}

/* Moteur de recherche */

.cnt_search_engine form {
    max-width: 315px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    border-radius: 13px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.map-marker {
    width: 50px;
    font-size: 18px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.cnt_search_engine form input[type="text"] {
    width: 185px;
    padding: 18px 18px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cnt_search_engine form input[type="text"]::placeholder {
    font-weight: bold;
    font-size: 16px;
    color: #d9d9d9;
}

.cnt_search_engine form input[type="text"]:focus {
    outline: 0;
}

.cnt_search_engine form button {
    position: absolute;
    top: 0;
    right: -1px;
    width: 56px;
    height: 57px;
    background-color: #0065fc;
    color: #fff;
    border: 0;
    border-radius: 13px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn-mobile-hide {
    display: none;
}

/* FILTRES */
.filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.filtres h2 {
    width: 100%;
    font-size: 18px;
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
}

.filtres li {
    position: relative;
    display: flex;
    height: 46px;
    font-size: 22px;
    margin: 0 13px 13px 20px;
    padding-left: 30px;
    border: 2px solid #d9d9d9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left: 0;
    align-items: center;
    cursor: pointer;
}

.filtres li:hover {
    border-color: #0065fc;
}

.filtres li span {
    display: flex;
    width: 50px;
    height: 49px;
    color: #0065fc;
    border-radius: 30px;
    border: 1px solid #deebff;
    background-color: #deebff;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -22px;
}

.filtres ul li h3 {    
    margin: 0 10px 0 10px;
}

.info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.info span {
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
}

.info p {
    margin: 3px 0 0 0;
}

/* LISTE ANNONCES */
#populaires {
    order: 1;
}

.bg_gris {
    background-color: #f2f2f2;
}

.titre {
    margin-top: 20px;
}

#populaires .titre {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.titre h1 {
    margin: 0;
}

.liste_annonces {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.annonce {
    margin-bottom: 20px;
    box-shadow: 1px 3px 9px 0px #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.annonce a {
    display: flex;
    border-radius: 20px;
    padding: 4px;
    color: #000;
}

.annonce a:hover {
    box-shadow: 1px 3px 9px 0px #b8b8b8;
}

#populaires .col_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 127px;
    min-height: 134px;
}

.img_populaires_1 {
    background-image:url("../img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.img_populaires_2 {
    background-image:url("../img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.img_populaires_3 {
    background-image:url("../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.col_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#populaires div div i.fa-chart-line {
    font-size: larger;
}

#populaires .col_info {
    padding: 0 30px 0 20px;
}

.col_info p {
    font-size: 12px;
}

.stars {
    display: flex;
}

.annonce .fa, .annonce .fas {
    color: #d9d9d9;
    font-size: x-small;
}

.annonce .colored {
    color: #0065fc;
}

/* HEBERGEMENTS */
#hebergements {
    order: 2;
}

#hebergements .annonce a {
    flex-direction: column;
}

#hebergements .col_image, #activites .col_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    min-height: 114px;
}

.img_hebergements_1 {
    background-image:url("../img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.img_hebergements_2 {
    background-image:url("../img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.img_hebergements_3 {
    background-image:url("../img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.img_hebergements_4 {
    background-image:url("../img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.img_hebergements_5 {
    background-image:url("../img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.img_hebergements_6 {
    background-image:url("../img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#hebergements .col_info {
    padding: 10px 0 10px 20px;
}

#hebergements .titre a {
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

#hebergements .titre a:hover {
    text-decoration: underline;
}

/* ACTIVITES */
.img_activites_1 {
    background-image:url("../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

.img_activites_2 {
    background-image:url("../img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.img_activites_3 {
    background-image:url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

.img_activites_4 {
    background-image:url("../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.img_activites_5 {
    background-image:url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

.img_activites_6 {
    background-image:url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#activites .titre {
    margin-left: 20px;
}

#activites .col_info {
    height: 56px;
    padding: 0 0 0 20px;
}

#activites .annonce a {
    flex-direction: column;
    padding: 0;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction:column;
}

footer div {
    margin-top: 20px;
}

footer ul {
    margin-top: 10px;
}

footer li {
    padding: 4px 0;
}

footer a {
    color: #000;
    font-size: 12px;
}

footer div ul li a:hover {
    text-decoration: underline;
}

/*********************************/
/************ CSS AJUST **********/
/*********************************/

/*  min size 768px .col-md- */
@media screen and (min-width: 768px) {
    .img_populaires_1 {
        background-image:url("../img/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }
    
    .img_populaires_2 {
        background-image:url("../img/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }
    
    .img_populaires_3 {
        background-image:url("../img/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

    .img_hebergements_1 {
        background-image:url("../img/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }
    
    .img_hebergements_2 {
        background-image:url("../img/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }
    
    .img_hebergements_3 {
        background-image:url("../img/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }
    
    .img_hebergements_4 {
        background-image:url("../img/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }
    
    .img_hebergements_5 {
        background-image:url("../img/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }
    
    .img_hebergements_6 {
        background-image:url("../img/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }

    .img_activites_1 {
        background-image:url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }
    
    .img_activites_2 {
        background-image:url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }
    
    .img_activites_3 {
        background-image:url("../img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }
    
    .img_activites_4 {
        background-image:url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }
    
    .img_activites_5 {
        background-image:url("../img/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }
    
    .img_activites_6 {
        background-image:url("../img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }

    #main {
        margin: 0 50px;
    }

    header {
        align-items: flex-start;
    }

    header div {
        flex: initial;
    }

    .link_logo {
        flex: auto;
        margin: 0;
    }

    .subscribe {
        order: 3;
        margin-top: 23px;
    }

    .subscribe a {
        color: #0065FC;
    }

    .filtres h2 {
        margin-right: 30px;
    }

    nav {
        width: auto;
        order: 2;
    }

    nav ul li {
        padding-top: 20px;
        margin-right: 20px;
        border-bottom: 0;
        border-top: 3px solid #fff;
    }

    nav ul li:hover {
        border-color: #0065fc;
        border-bottom: 0;
    }

    nav ul li a {
        color: #000;
        font-size: 17px;
    }

    nav ul li a:hover {
        color: #0065FC;
    }

    .cnt_search_engine {
        padding: 0;
    }

    .cnt_search_engine form button {
        right: -75px;
        width: 134px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .btn-mobile-show {
        display: none;
    }

    .btn-mobile-hide {
        display: block;
    }

    .filtres h2 {
        width: initial;        
    }
    
    #populaires {
        border-radius: 5px;
    }

    #populaires div div i.fa-chart-line {
        font-size: x-large;
    }

    #populaires .annonce {
        margin-bottom: 35px;
    }

    #populaires .col_image{
        height: 200px;
        flex: 2;
    }

    #populaires .col_info {
        flex: 1;
        padding: 0 30px 0 20px;
    }
    
    #hebergements .liste_annonces, #activites .liste_annonces {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    #hebergements .col_image, #activites .col_image {
        height: 200px;
    }

    #hebergements .annonce, #activites .annonce {
        width: 49%;
    }

    #hebergements .titre, #activites .titre {
        width: 100%;
    }

    footer.liste_annonces {
        flex-direction: row;
        padding: 0 50px;
        margin-top: 20px;
    }

    footer div {
        margin: 20px 10% 0 0;
    }
}

/*  min size 992px .col-lg- */
@media screen and (min-width: 992px) {
    .img_populaires_1 {
        background-image:url("../img/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }
    
    .img_populaires_2 {
        background-image:url("../img/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }
    
    .img_populaires_3 {
        background-image:url("../img/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

    .img_hebergements_1 {
        background-image:url("../img/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }
    
    .img_hebergements_2 {
        background-image:url("../img/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }
    
    .img_hebergements_3 {
        background-image:url("../img/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }
    
    .img_hebergements_4 {
        background-image:url("../img/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }
    
    .img_hebergements_5 {
        background-image:url("../img/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }
    
    .img_hebergements_6 {
        background-image:url("../img/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }

    .img_activites_1 {
        background-image:url("../img/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }
    
    .img_activites_2 {
        background-image:url("../img/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }
    
    .img_activites_3 {
        background-image:url("../img/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }
    
    .img_activites_4 {
        background-image:url("../img/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }
    
    .img_activites_5 {
        background-image:url("../img/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }
    
    .img_activites_6 {
        background-image:url("../img/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }    
    
    .cnt_large {
        display: flex;
        justify-content: space-between;
    }

    .cnt_large section {
        flex: auto;
    }

    #hebergements .liste_annonces, #activites .liste_annonces {
        padding: 0 20px 20px 20px;
    }

    #hebergements {
        order: 1;
        background-color: #f2f2f2;
        border-radius: 20px;
        margin-right: 40px;
    }

    #hebergements .liste_annonces {
        flex-direction: column;
    }

    #populaires {
        order: 2;
        flex: initial;
        border-radius: 20px;
    }

    #populaires .col_info {
        width: 212px;
        padding: 0 10px 0 10px;
    }

    #hebergements .annonce {
        width: auto;
    }

    #activites {
        margin-top: 40px;
    }

    #activites .liste_annonces {
        padding: 0;
        justify-content: space-between;
    }

    #activites .annonce {
        width: 49%;
    }

}

/*  min size 1200px .col-xl- */
@media screen and (min-width: 1200px) {
    .img_populaires_1 {
        background-image:url("../img/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }
    
    .img_populaires_2 {
        background-image:url("../img/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }
    
    .img_populaires_3 {
        background-image:url("../img/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

    .img_hebergements_1 {
        background-image:url("../img/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }
    
    .img_hebergements_2 {
        background-image:url("../img/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }
    
    .img_hebergements_3 {
        background-image:url("../img/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }
    
    .img_hebergements_4 {
        background-image:url("../img/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }
    
    .img_hebergements_5 {
        background-image:url("../img/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }
    
    .img_hebergements_6 {
        background-image:url("../img/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }

    .img_activites_1 {
        background-image:url("../img/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }
    
    .img_activites_2 {
        background-image:url("../img/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }
    
    .img_activites_3 {
        background-image:url("../img/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }
    
    .img_activites_4 {
        background-image:url("../img/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }
    
    .img_activites_5 {
        background-image:url("../img/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }
    
    .img_activites_6 {
        background-image:url("../img/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }
    
    #populaires .col_image {
        flex: 2;
        height: 134px;
    }

    #populaires .col_info {
        flex: 3;
    }
    
    #hebergements .liste_annonces {
        flex-direction: row;
    }

    #hebergements .col_image {
        width: 236px;
        height: 114px;
    }

    #activites .titre {
        width: 100%;
        height: initial;
        padding: 20px 0 0 0;
    }
    
    #activites .liste_annonces {
        flex-direction: column;
        height: 480px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
    }

    #activites .annonce {
        width: 24%;
    }

    #activites .annonce a {
        padding: 0;
    }

    #activites .xl_full {
        height: 390px;
    }

    #activites .xl_medium {
        height: 180px;
    }

    #activites .xl_light {
        height: 110px;
    }
}